flask==3.1.1
flask-sqlalchemy
flask-restful
flask-marshmallow
flask-cors
marshmallow-sqlalchemy
psycopg2-binary
flask-migrate
python-dotenv
beautifulsoup4
requests
flask-jwt-extended
werkzeug
lxml
apscheduler
